:root {
    --coke: #e61d2b;
    --appleGrey: #d6d6d6;
}


body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}

/* center button */
.button_container a > *{
    width: 100%;
    display: block;
    margin:auto;
}

.button_container a{
    width: 70%;
    padding: 8%;
}

svg{
    pointer-events: none;
}

/* coca cola */
.cls-1{
    fill: white !important;
}


a#btn_coca-cola{
    background-color: var(--coke);
    border-radius: 24px;
    transition: width .2s;
}

a#btn_coca-cola:hover{
    background-color: white;
    width: 60%;
}

a#btn_coca-cola:hover .cls-1{
    fill: var(--coke) !important;
}

/* apple */
a#btn_apple, a#btn_hasbro{
    position: relative;
    width:50%;
    height:50%;
}

a#btn_apple > *,a#btn_hasbro > *{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80%;
}

a#btn_apple #black rect{
    transition: all .5s;
    fill: var(--appleGrey);
}

a#btn_apple #black #rectangle_4_{
    transition-delay: 100ms;
}
a#btn_apple #black #rectangle_3_{
    transition-delay: 200ms;
}

a#btn_apple #black #rectangle_2_{
    transition-delay: 300ms;
}

a#btn_apple #black #rectangle_1_{
    transition-delay: 400ms;
}

a#btn_apple #black #rectangle{
    transition-delay: 500ms;
}

a#btn_apple:hover #black rect{
    width: 0px;
    x: -900px;
}

/* ibm */
a#btn_ibm{
    transition: all .3s;
    width: 60%;
}
a#btn_ibm:hover{
    background-color: rgb(210, 210, 210);
    width: 90%;
}

/* nerf */

a#btn_hasbro > * {
    left:10%;
    top:80%;
    transition: all .1s;
    animation-timing-function: ease-in;
}
a#btn_hasbro #woosh{
    transition: all .02s;
}

a#btn_hasbro:hover #woosh{
    width: 50%;
    left:-70%;
    top: 98%;
}

a#btn_hasbro:hover #nerfLogo{
    width: 100%;
    left: 200%;
    top: 20%;
}

/* michael */

#btn_michaelkors .st0 {
    stroke: none !important;
    transition: all 1s;
}

#btn_michaelkors:hover{
    transform: rotate(360deg);
    animation-direction: alternate-reverse;

}

#btn_michaelkors:hover svg .st0{
    fill:#ad8917 !important;
}
#btn_michaelkors {
    transition: all 1s;
}