@font-face {
    font-family: 'Mono'; 
    src: url('fonts/RysLatinModernMono.woff'); 
}

body{
    margin: 0;
    font-family: "Raleway", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, div{
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5em;
}

#title{
    margin: auto;
    width: fit-content;
    font-size: 38pt;
    margin-top: .4em;
    margin-bottom: 1em;
}

h1{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 1.25em;
}

p{
    font-family: "Raleway", sans-serif;
    font-size: 24pt;
    /* width: max-content; */
    margin-inline-start: 3em;
    margin-block-end: .5em;
}

#title .monospace{
    margin-inline-start: 4em;
}

.monospace{
    font-family: "Mono", monospace;
    width: fit-content;
    font-size: 14pt;
    margin-bottom: .5em;
}

.property{
    font-weight: 600;
    font-size: 20pt;
    line-height: 21pt;
}

tr:first-child td:first-child{
    vertical-align: baseline;
    width: 30%;
}

.style{
    margin: auto;
    width: 80%;
    font-size: 24pt;
    margin-bottom: 2em;
}

#thin{
    font-weight: 100;
}

#bold{
    font-weight: bold;
}

#italic{
    font-style: italic;
}

#three{
    letter-spacing: .3em;
}

#six{
    letter-spacing: -.06em;
}

#line-through{
    text-decoration: line-through;
}

#underline{
    text-decoration: underline;  
}

#overline{
    text-decoration: overline;  
}

#uppercase{
    text-transform: uppercase;
}

#lowercase{
    text-transform: lowercase;
}

#capitalize{
    text-transform: capitalize;
}
